/* Group7 */

p {
  margin: 0;
}

.group-7 {
  background: url(https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/MnrCvJE6dcXE7ARJHLLyJ1-17%3A68?alt=media&token=cb3b7d1d-fa0b-4d16-8a96-6e0aa978a223);
  background-size: 100% 100%;
  width: 1920px;
  height: 1080px;
}
