/* Slide1691 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-vend {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.slide-1691 {
  position: relative;
  padding: 67px 49px 45px 60px;
  box-sizing: border-box;
  background-color: rgba(252, 240, 234, 1);
  width: 1920px;
  height: 1080px;
}

.group-428 {
  padding: 38px 14px 869px 24px;
  margin-right: 40px;
  box-sizing: border-box;
  border-radius: 32px;
  background-color: rgba(231, 186, 186, 1);
  width: 61px;
  height: 100%;
}

.polygon-1 {
  width: 21px;
  height: 100%;
}

.rectangle-38 {
  background-color: rgba(217, 239, 206, 1);
  width: 823px;
  height: 898px;
  border-radius: 32px;
  margin-right: 55px;
}

.rectangle-37 {
  background-color: rgba(199, 228, 237, 1);
  width: 830px;
  height: 896px;
  border-radius: 32px;
}

.group-2 {
  position: absolute;
  top: 82px;
  left: 496px;
  padding: 12px 18px 10px 19px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: rgba(183, 221, 164, 1);
  width: 156px;
  height: 56px;
}

.txt-917 {
  font-size: 27px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 117px;
  height: 32px;
  word-wrap: break-word;
}

.group-1 {
  position: absolute;
  top: 82px;
  left: 1387px;
  padding: 13px 22px 13px 24px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: rgba(147, 209, 228, 1);
  width: 136px;
  height: 56px;
}

.txt-356 {
  font-size: 27px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  width: 88px;
  height: 28px;
  word-wrap: break-word;
}
