/* Desktop1 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.desktop-1 {
  position: relative;
  padding: 25px 53px 37px 50px;
  box-sizing: border-box;
  background-color: rgba(252, 240, 234, 1);
  width: 1920px;
  height: 1040px;
}

.rectangle-39 {
  background-color: rgba(231, 186, 186, 1);
  width: 70px;
  border-radius: 32px;
  margin-right: 49px;
  height: 100%;
}

.rectangle-38 {
  background-color: rgba(217, 239, 206, 1);
  width: 827px;
  height: 929px;
  border-radius: 32px;
  margin-right: 68px;
}

.rectangle-37 {
  background-color: rgba(199, 228, 237, 1);
  width: 801px;
  height: 929px;
  border-radius: 32px;
}

.group-1 {
  position: absolute;
  top: 29px;
  left: 503px;
  padding: 14px 19px 12px 19px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: rgba(183, 221, 164, 1);
  width: 157px;
  height: 61px;
}

.txt-666 {
  font-size: 27px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}

.group-2 {
  position: absolute;
  top: 26px;
  left: 1400px;
  padding: 16px 22px 15px 24px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: rgba(147, 209, 228, 1);
  width: 135px;
  height: 66px;
}

.txt-666 {
  font-size: 27px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  word-wrap: break-word;
}
