/* Homepage2 */

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap");

p {
  margin: 0;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-vcenter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-hcenter-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-hcenter {
  justify-content: center;
}

.homepage-2 {
  width: 1920px;
  height: 1080px;
}

.homepage {
  background-color: rgba(252, 240, 234, 1);
  width: 100%;
  height: 100%;
}

.group-29 {
  width: 32px;
  height: 24px;
}

.group-2910 {
  width: 100%;
  height: 100%;
}

.group-442 {
  margin-right: 31px;
  box-sizing: border-box;
  height: fit-content;
}

.group-20 {
  padding: 6px 7.68px 10px 8px;
  margin-bottom: 21px;
  box-sizing: border-box;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 1);
  height: 542px;
  width: fit-content;
}

.group-3 {
  padding: 1px 0.98px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.group-4 {
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  border-radius: 32px;
  background-color: rgba(189, 221, 231, 1);
  transform: rotate(-0.06deg);
  width: 1257.37px;
  height: 522.69px;
}

.weekday-calender {
  padding: 15px 51.37px 23.69px 52px;
  box-sizing: border-box;
  border-radius: 32px;
  background-color: rgba(189, 221, 231, 1);
  transform: rotate(-0.06deg);
  height: 100%;
}

.group-731 {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-219 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 61px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 94px;
}

.txt-982 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 69px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 94px;
}

.txt-748 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 72px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 101px;
}

.txt-5100 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 70px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 104px;
}

.txt-1063 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 73px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 106px;
}

.txt-433 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 41px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 102px;
}

.txt-630 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 61px;
  height: 29px;
  word-wrap: break-word;
}

.rectangle-2 {
  background-color: rgba(251, 248, 248, 1);
  width: 1152.13px;
  height: 444.21px;
  border-radius: 19px;
}

.rectangle-17 {
  background-color: rgba(255, 255, 255, 1);
  width: 346px;
  height: 83px;
  border-radius: 16px;
}

.rectangle-15 {
  background-color: rgba(255, 255, 255, 1);
  transform: rotate(-0.15deg);
  height: 395.52px;
  border-radius: 34px;
  width: 100%;
}

.group-28 {
  padding: 0px 3px 0px 0px;
  box-sizing: border-box;
  width: 413px;
  height: fit-content;
}

.group-295 {
  padding: 6px 10px 6px 13px;
  box-sizing: border-box;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 1);
  width: 410px;
  height: 972px;
}

.rectangle-6 {
  border-radius: 32px;
  background-color: rgba(228, 233, 255, 1);
  height: 100%;
}

.group-748 {
  padding: 6px 10px 2px 10px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  width: 209px;
  height: 53px;
}

.component-1 {
  padding: 5px 0px 5px 42px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgba(187, 193, 246, 1);
  width: 100%;
  height: 100%;
}

.txt-075 {
  font-size: 30px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(25, 17, 113, 1);
  width: 163px;
  height: 31px;
  word-wrap: break-word;
}

.txt-0752 {
  font-size: 28px;
}

.group-4421 {
  height: fit-content;
}

.group-20 {
  padding: 6px 7.68px 10px 8px;
  margin-bottom: 21px;
  box-sizing: border-box;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 1);
  height: 542px;
  width: fit-content;
}

.group-3 {
  padding: 1px 0.98px 0px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.group-4 {
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  border-radius: 32px;
  background-color: rgba(189, 221, 231, 1);
  transform: rotate(-0.06deg);
  width: 1257.37px;
  height: 522.69px;
}

.weekday-calender {
  padding: 15px 51.37px 23.69px 52px;
  box-sizing: border-box;
  border-radius: 32px;
  background-color: rgba(189, 221, 231, 1);
  transform: rotate(-0.06deg);
  height: 100%;
}

.group-731 {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-219 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 61px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 94px;
}

.txt-982 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 69px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 94px;
}

.txt-748 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 72px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 101px;
}

.txt-5100 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 70px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 104px;
}

.txt-1063 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 73px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 106px;
}

.txt-433 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 41px;
  height: 29px;
  word-wrap: break-word;
  margin-right: 102px;
}

.txt-630 {
  font-size: 25px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  width: 61px;
  height: 29px;
  word-wrap: break-word;
}

.rectangle-2 {
  background-color: rgba(251, 248, 248, 1);
  width: 1152.13px;
  height: 444.21px;
  border-radius: 19px;
}

.rectangle-17 {
  background-color: rgba(255, 255, 255, 1);
  width: 346px;
  height: 83px;
  border-radius: 16px;
}

.rectangle-15 {
  background-color: rgba(255, 255, 255, 1);
  transform: rotate(-0.15deg);
  height: 395.52px;
  border-radius: 34px;
  width: 100%;
}

.txt-273 {
  font-size: 28px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(77, 60, 18, 1);
  width: 273px;
  height: 39px;
  word-wrap: break-word;
}

.group-27 {
  width: 1266px;
  height: 397px;
}

.rectangle-10 {
  background-color: rgba(255, 216, 157, 1);
  width: 325px;
  height: 39px;
  border-radius: 16px;
}

.rectangle-8 {
  background-color: rgba(255, 241, 206, 1);
  height: 378px;
  border-radius: 32px;
  width: 100%;
}
