/* Slide1691 */

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.slide-1691 {
  padding: 34px 47px 52px 33px;
  box-sizing: border-box;
  background-color: rgba(255, 235, 235, 1);
  width: 1920px;
  height: 1080px;
}

.rectangle-1 {
  background-color: rgba(231, 179, 179, 1);
  width: 146px;
  border-radius: 30px;
  margin-right: 42px;
  height: 100%;
}

.group-956 {
  margin-right: 38px;
  box-sizing: border-box;
  height: 100%;
}

.rectangle-2 {
  background-color: rgba(208, 230, 255, 1);
  height: 480px;
  border-radius: 30px;
  margin-bottom: 60px;
  width: 100%;
}

.rectangle-3 {
  background-color: rgba(255, 232, 198, 1);
  width: 1210px;
  height: 452px;
  border-radius: 30px;
}

.rectangle-4 {
  background-color: rgba(244, 229, 255, 1);
  width: 400px;
  border-radius: 30px;
  height: 100%;
}

