/* Homepage */

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:wght@400&display=swap");

/* copy pasted code */
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.polygon-1:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  cursor: pointer;
}

p {
  margin: 0;
}

.clip-contents {
  overflow: hidden;
}

.flex-col-hstart-vstart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-1691 {
  padding: 34px 47px 30px 33px;
  box-sizing: border-box;
  background-color: rgba(255, 241, 241, 1);
  width: 1920px;
  height: 1080px;
}

.group-271 {
  padding: 25px 17px 928px 95px;
  margin-right: 40px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: rgba(231, 179, 179, 1);
  width: 146px;
  height: 100%;
}

.polygon-1 {
  width: 31.84px;
  height: 100%;
}

.group-165 {
  margin-right: 36px;
  box-sizing: border-box;
  height: 100%;
}

.group-488 {
  padding: 21px 35px 38px 42px;
  margin-bottom: 13px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: rgba(222, 237, 255, 1);
  width: 100%;
}

.group-175 {
  margin-bottom: 21px;
  box-sizing: border-box;
  width: fit-content;
}

.txt-5810 {
  font-size: 36px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(37, 63, 101, 1);
  word-wrap: break-word;
  margin-right: 75px;
}

.txt-199 {
  font-size: 36px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(37, 63, 101, 1);
  width: 94px;
  height: 44px;
  word-wrap: break-word;
  margin-right: 75px;
}

.txt-8102 {
  font-size: 36px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(37, 63, 101, 1);
  word-wrap: break-word;
}

.rectangle-7 {
  background-color: rgba(255, 255, 255, 1);
  width: 1070px;
  height: 397px;
  border-radius: 30px;
}

.group-686 {
  padding: 17px 63px 26px 54px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: rgba(255, 238, 211, 1);
  width: fit-content;
}

.group-883 {
  padding: 4px 93px 3px 73px;
  margin-bottom: 31px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255, 210, 168, 1);
  height: 67px;
  width: fit-content;
}

.txt-996 {
  font-size: 48px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(105, 60, 18, 1);
  word-wrap: break-word;
}

.rectangle-9 {
  background-color: rgba(255, 255, 255, 1);
  width: 1026px;
  height: 335px;
  border-radius: 30px;
}

.group-576 {
  padding: 21px 55px 48px 56px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: rgba(246, 234, 255, 1);
  height: 100%;
}

.group-927 {
  padding: 4px 48px 3px 48px;
  margin-bottom: 18px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(180, 134, 202, 1);
  height: 67px;
  width: fit-content;
}

.txt-9410 {
  font-size: 48px;
  font-family: ABeeZee, sans-serif;
  font-weight: 400;
  color: rgba(55, 21, 99, 1);
  word-wrap: break-word;
}

.group-965 {
  padding: 38px 289px 778px 38px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  width: 354px;
  height: 858px;
}

.polygon-2 {
  width: 24.65px;
  height: 100%;
}