.Desktop-1{
    position: relative;
    width: 1440px;
    height: 1024px;
}


.Rectangle-18{
    position: absolute;
    left: 82.29%;
    right: 7.29%;
    top: 2.83%;
    bottom: 92.19%;

    background: #FFFFFF;
    border-radius: 16px;
}